@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@font-face {
    font-family: "fabadaregular";
    src: url("./assets/fonts/fabada-regular-webfont.woff2") format("woff2"), url("./assets/fonts/fabada-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@import "~antd/dist/antd.less";

@primary-color: #2c9be6;
@primary-grey: #8a8a8a;
@border-grey: #9d9d9d;

@poppins: "Poppins";
@opensans: "Open sans";
@fabada: "fabadaregular";
@font-family: @poppins;
@border-radius-base: 3px;
.blue-primary {
    color: @primary-color !important;
}
.grey-primary {
    color: @primary-grey !important;
}
.required {
    color: red;
    margin-left: 3px;
}

.popover-setting {
    .ant-popover-inner-content {
        padding: 10px;
    }
    .ant-list-item {
        padding: 8px 0 8px;
    }
}
.body {
    width: 100%;
    padding: 15px;
    @media (min-width: 1000px) {
        max-width: 1000px;
    }
    margin: auto;
}

@import "./styles/communication.less";
@import "./styles/forgot-password.less";
@import "./styles/header2.less";
@import "./styles/home.less";
@import "./styles/job-detail.less";
@import "./styles/job-form.less";
@import "./styles/job.less";
@import "./styles/landing.less";
@import "./styles/learning.less";
@import "./styles/login.less";
@import "./styles/logout.less";
@import "./styles/profile.less";
@import "./styles/reset-password.less";
@import "./styles/select-info.less";
@import "./styles/my-job-applied.less";
@import "./styles/my-jobs-application.less";
